#skicky_header{display:none !important;}
body{
    font-family:"Noto Sans" !important;	
    color: #242424 !important;
    font-size: 14px !important;
    font-weight: 200 !important;
    background:#fff !important;
    line-height: 30px;
}
p{
    margin:0px !important;
    line-height: 26px !important;
    text-align: justify;
}
strong,b{
    font-family:"Noto Sans" !important;
    font-weight:600 !important;
    font-size:30px !important;
}
.top_header_tag{
    background-color: #181C25;
    padding: 10px 0px;    
}
.top_header_tag .top_tag{
    font-size: inherit;
    color: #D7D7D7;
}
.top_header_tag .top_tag span{
    font-weight: 500;
}
.top_header_tag .widget {
    padding-bottom: 0;
}
/*header social icon menu*/
.top_social_menu .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.top_social_menu .menu li {
    float: left;
    border: none !important;
    text-decoration: none;
    padding: 0px;
}
.top_social_menu .menu li a:link, a:visited {
    color: #FFFFFF !important;
    text-align: center;
    padding: 0px;
    text-decoration: none;
    margin-right: 10px;
    width: 30px;
    display: inline-block;
}
.top_social_menu .menu li a:hover {
    color: #000 !important;
    background: rgba(255, 216, 0, .80);
    border-radius: 50%;
}
.top_social_menu .menu-social-links-menu-container{
    float: right;
}

header#masthead{
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100%;
}
.top_header{
    /*padding:10px 0px;*/
}
.top_header .inner_container{
    padding: 0px;
    margin: 0px;
}
#navbar{
    display: inherit;
}
.navbar-right{
    float: right;
}
.top_bar{
    margin-top:40px;
}
.info-box{
    color:#fff;
    margin-left: 20px;
}
.info-box img{
    float:left;
    padding-right:15px;
}

.info-box .info-content{
    float:left;
}
.info-box .info-content p{
    margin:0px !important;
}
.info-box .info-content p:first-child{
    font-weight:bold;
}

.flex-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}
.service-box{
    background:#4D99E6 !important;
    -webkit-box-shadow: 5px 10px 30px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 10px 30px -20px rgba(0,0,0,0.75);
    box-shadow: 5px 10px 30px -20px 20px(0,0,0,0.75);
    padding: 20px !important;
    margin: 0px !important;
    color: #FFFFFF;
    text-align: center;
}
.service-box-2{
    background:#3282D3 !important;
    -webkit-box-shadow: 5px 10px 30px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 10px 30px -20px rgba(0,0,0,0.75);
    box-shadow: 5px 10px 30px -20px 20px(0,0,0,0.75);
    padding: 20px !important;
    margin: 0px !important;
    color: #FFFFFF;
    text-align: center;
    height: 371px;
    margin-top: -39px !important;
    position: relative;
    z-index: 9999;
}
.service-box-3{
    background:#2075CA !important;
    -webkit-box-shadow: 5px 10px 30px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 10px 30px -20px rgba(0,0,0,0.75);
    box-shadow: 5px 10px 30px -20px 20px(0,0,0,0.75);
    padding: 20px !important;
    margin: 0px !important;
    color: #FFFFFF;
    text-align: center;
}
.service-box-4{
    background:#1B6BBC !important;
    -webkit-box-shadow: 5px 10px 30px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 10px 30px -20px rgba(0,0,0,0.75);
    box-shadow: 5px 10px 30px -20px 20px(0,0,0,0.75);
    padding: 20px !important;
    margin: 0px !important;
    color: #FFFFFF;
    text-align: center;
}
.service-box:nth-child(2)
{
    margin:0px 40px;
}
.service-box-2:nth-child(2)
{
    margin:0px 40px;
}
.service-box-3:nth-child(2)
{
    margin:0px 40px;
}
.service-box-4:nth-child(2)
{
    margin:0px 40px;
}

.service-box-title{
    font-size: 24px !important;
    margin-top: 20px;
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.home_box_services{
    margin-top: -124px !important;
    z-index: 9999;
    position: relative;
    background-color: #4A96E4;
}
.home_box_services .flex-container{
    align-items: flex-start !important;
}

header#masthead nav.navbar{
    /*background: rgba(2, 20, 70, 0.5) !important;*/ 
    box-shadow: none !important;
}
#navbar #top-menu li{
    position:relative;
}
#top-menu > li > a {
    padding:15px 15px !important;
}

#navbar #top-menu .current-menu-item a{
    color:#fff !important;
}
#navbar #top-menu li:hover a{
    color:#fff !important;
}
#navbar #top-menu .current-menu-item:before {
    position: absolute;
    content: "";
    height: 3px;
    background-color: #fdc300;
    width: 75%;
    left: 17px;
    /*width: 50px;*/
    top: 52px;
    /*left:calc(50% - 25px);*/
}
#navbar #top-menu li:hover:before {
    position: absolute;
    content: "";
    height: 3px;
    background-color: #fdc300;
    width: 75%;
    left: 17px;
    /*width: 50px;*/
    top: 52px;
    /*left:calc(50% - 25px);*/
}
.custom_button{
    background: #0051A5;
    color: #fff;
    padding: 10px 20px;
    line-height: 42px;
    height: 42px !important;
    font-size: 14px;
    font-weight: 600;
    font-family:Poppins;
}
.custom_button:hover{
    color: #FFFFFF !important;
    background-color: #1D2945 !important;
    border-color: #1D2945 !important;
    text-decoration:none !important;
}
.btn-custom {
    color: #FFFFFF !important;
    background-color: #0051A5 !important;
    border-color: #ff5e14 !important;
    height: 50px !important;
    font-size: 20px !important;
    font-family:Poppins;
}
.btn-custom:hover {
    color: #FFFFFF !important;
    background-color: #1D2945 !important;
    border-color: #1D2945 !important;
}

.home_header{
}
.home_header .header_title{
    color: #FFD800;
    font-size: 20px;
    line-height: 50px;
    font-style: italic;
    font-family: 'Courgette';
}
.home_header .header_content{
    color: #000000;
    font-size: 42px;
    text-transform: uppercase;
    font-family:Poppins !important;
    font-weight: 600;
    line-height: 50px;
    margin-bottom: 30px !important;
}
.about-container{
    background-color: rgb(0, 0, 0, .80);
    padding: 50px !important;
    position: absolute;
    top: 0;
    left: 0;
}
.about-box{
    clear: both;
    overflow: hidden;
    padding-bottom: 35px;
    color: #FFFFFF;
}
.no-border .about-box{
    border-bottom:none !important;
}
.about-box .info{
    width: calc(100% - 100px);
}
.about-box .info strong{
    color: #FFD800;
}
.about-box .img_grayborder{
    float: left;
    padding: 30px;
}
.appoinment_bg_container {
    position: relative !important;
}
.appoinment_bg{
    background-color: rgb(253, 195, 0, .90);
    /*margin-top: -39px !important;*/
    /*position: relative;*/
    z-index: 10;
    margin-bottom: 100px;
}
.home_make_appinment{
}
.home_make_appinment .image{
    float: left; 
    margin-right: 20px;
    height: 100px;
}
.home_make_appinment .title{
    text-transform: uppercase;
    font-size: 16px;
}
.home_make_appinment .contact{
    font-size: 18px;
    font-weight: 600;
}
.appoinment_list .vc_column-inner{
    padding-top: 0px !important;
}
.appoinment_list .wpb_text_column{
    margin-bottom: 0px;
}
.appoinment_block{
    padding: 40px !important;   
}
.appoinment_block:hover{
    background-color: #FFD54D;
    cursor: pointer;
}
.btn-appoinment {
    color: #000 !important;
    background-color: #FFF !important;
    border-color: #FFF !important;
    height: 60px !important;
    font-size: 20px !important;
}
.btn-appoinment:hover {
    color: #FFFFFF !important;
    background-color: #1D2945 !important;
    border-color: #1D2945 !important;
    text-decoration:none !important;
}
.make_app_input{
    background-color: #FEDF00 !important;
    border: 0px !important;
    color: #666 !important;
    text-align: left !important;
}
.btn-appoinment_inner {
    color: #FFF !important;
    background-color: #0051A5 !important;
    border-color: #0051A5 !important;
    height: 40px !important;
    font-size: 14px !important;
    font-family:Poppins !important;
}
.btn-appoinment_inner:hover {
    color: #FFFFFF !important;
    background-color: #1D2945 !important;
    border-color: #1D2945 !important;
    text-decoration:none !important;
    font-family:Poppins !important;
}
.make_app_input_inner{
    border: 1px solid #D7D7D7 !important;
    color: #666;
    text-align: left !important;
}

.margin_top_20{
    margin-top: 20px;
}
.margin_top_50{
    margin-top: 50px;
}
.margin_bottom_50{
    margin-bottom: 50px;
}
.margin_bottom_20{
    margin-bottom: 20px;
}
.text_black{
    color: #000000 !important;
}

.list-blog{
    margin:40px 0px;
}
.list-blog .blog-box{
    margin:15px 0px;
}
.list-blog .blog-box .blog-inner{
    background:#f0eded;
    padding:20px;
    overflow:hidden;
}
.list-blog .blog-box .blog-inner .blog-thumbnail img{
    width:100%
}
.list-blog .blog-box .blog-name{	
    margin: 0px -20px;	
}
.list-blog .blog-inner .author-info{
    margin: 10px 0px;
}
.list-blog .blog-box a{
    text-decoration:none !important;
}
.list-blog .blog-box .blog-name h3{
    color:#061538;
    padding:0px 20px;
    margin-bottom:15px !important;
    white-space:nowrap;
}
.list-blog .blog-box .blog-subtitle{
    color:#061538;
    margin-top:20px !important;
    border-bottom: 1px solid #ccc;
}
.list-blog .blog-box:hover h3{
    color:#ff5e14 !important;
}
.list-blog .blog-box:hover i{
    color:#ff5e14 !important;
}
.list-blog .blog-box:hover .blog-inner{
    background:#fff !important;
    -webkit-box-shadow: 5px 10px 30px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 10px 30px -20px rgba(0,0,0,0.75);
    box-shadow: 5px 10px 30px -20px 20px(0,0,0,0.75);
}
.list-blog .pull-right{
    float: right;
}


/*Footer CSS*/
.footer_content_top{
    background-color: #131726;
    color: #FFFFFF;
    padding: 65px 20px;
}
.footer_content_top .widget-title{
    color: #FFFFFF;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-family:Poppins;
}
.footer_content_top .address-box{
    height: 35px;
}
.footer_content_top .address-box span{
    width: 25px;
    display: inline-block;
    color: #FFD800;
}
.footer_content_top .working-time-box{
    border-bottom: 1px solid #686868;
    height: 35px;
}
.footer_content_top .working-time-box .day-box{
    text-transform: uppercase;
    text-align: left;
    font-weight: 500;
}
.footer_content_top .working-time-box .time-box{
    float: right;
    color: #FFD800;
}
.footer_content_top .widget_instagram-feed-widget{
    padding-left: 50px;
}
.footer_content_bottom{
    background-color: #111422;
    color: #FFFFFF;
    padding-top: 10px;
    text-align: right;
}
a.copyright_link:link, a.copyright_link:visited{
    text-decoration: none;
    color: #B7B7B7;
}
a.copyright_link:hover{
    text-decoration: none !important;
    color: #FFD800;
}
.copyright_text{
    margin-top: 9px;
    text-align: left;
}
/*footer social icon menu*/
.social-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.social-menu li {
    float: left;
    border: none !important;
    text-decoration: none;
}
.social-menu li a:link, a:visited {
    color: #FFFFFF !important;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    border-radius: 50%;
    margin-right: 10px;
    -webkit-box-shadow: none;
    width: 40px;
    display: inline-block;
    border: 1px solid #999;
}
.social-menu li a:hover {
    color: #000 !important;
    text-decoration: none;
    background: rgba(255, 216, 0, .80);
}
/*footer bottom menu*/
.footer-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}
.footer-menu li {
    float: right;
    border: none !important;
    text-decoration: none;
}
.footer-menu li a:link, a:visited {
    color: #FFFFFF !important;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin-right: 10px;
    -webkit-box-shadow: none;
}
.footer-menu li a:hover {
    color: #FFD800 !important;
    text-decoration: none;
    -webkit-box-shadow: none;
}
h3{
    font-family:Poppins !important;
    font-weight: 500;
    font-size: 20px !important;
    margin-bottom: 30px;
}

.faq_list .vc_active{    
}
.faq_list h4{
    font-size: 20px !important;
    font-weight: 500 !important;
}
.faq_list .vc_active .vc_tta-panel-heading{
    background-color: #FFF !important;
    border: #fff !important;
    font-family:Poppins !important;
    font-size: 20px !important;
    font-weight: 500 !important;
}
.faq_list .vc_active .vc_tta-panel-body{
    background-color: #FFF !important;
    border-color: #FFFFFF !important;
}
.faq_list .vc_active .vc_tta-panel-title a {
    color: #0051A5 !important;  
    font-weight: 500 !important;    
}
.faq_list .vc_tta-panel-title a {
    color: #777 !important;
    font-weight: 500 !important;  
}

.faq_list .vc_tta-panel-heading{
    background-color: #EDF3F9 !important;
    border: #EDF3F9 !important;
    font-family:Poppins !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    padding: 10px 0px 10px 10px;
}
/*.faq_list .vc_active .vc_tta-controls-icon{
    border-radius: 50%;
    -webkit-box-shadow: none;
    width: 40px !important;
    display: inline-block !important;
    padding: 20px 10px !important;
    background-color: #0051A5;
    color: #FFF !important;
}*/
.wpb-js-composer .vc_tta-color-chino.vc_tta-style-classic .vc_tta-controls-icon::after,
.wpb-js-composer .vc_tta-color-chino.vc_tta-style-classic .vc_tta-controls-icon::before {
    border: 2px solid #0051A5 !important;    
}
.wpb-js-composer .vc_tta .vc_tta-controls-icon {
    width: 16px !important;
    height: 16px !important;    
    font-family:Poppins !important;
    font-weight: 400;
}

.contact_block{
}
.contact_block .content{
    color: #979797;
    margin: 20px 0px;
}
.contact_block .address{
    height: 45px;
    border-bottom: 1px solid #DDD;
    font-weight: 600;
    margin-top: 12px;
}
.getin_touch_bg{
    background: rgba(255, 255, 255, .80);
    padding: 60px 140px;
}
.btn-getin_touch {
    color: #FFF !important;
    background-color: #0051A5 !important;
    border-color: #0051A5 !important;
    height: 40px !important;
    font-size: 14px !important;
    font-family:Poppins !important;
    width: 100% !important;
}
.btn-getin_touch:hover {
    color: #FFFFFF !important;
    background-color: #1D2945 !important;
    border-color: #1D2945 !important;
    text-decoration:none !important;
    font-family:Poppins !important;
    width: 100% !important;
}
.getin_touch_input{
    border: 1px solid #CAC9C7 !important;
    color: #666;
    text-align: left !important;
    background: rgba(202, 202, 201, .80) !important;
}
.our_team_list{

}
.text_white{
    color: #FFFFFF !important;
}
.our_team_list .team_name{
    text-align: center;
    font-family:Poppins;
    margin: 15px 0px 35px 0px !important;
    font-size: 18px !important;
    color: #000000;
}
.our_team_list .content-image-border {
    border-left: 30px solid #FFF;
    border-bottom: 30px solid #FFF;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.our_team_list a:link, a:visited {
    color: #000000 !important;
    text-decoration: none;
    font-family:Poppins;
}
.our_team_list a:hover {
    color: #FFF !important;
}
.our_team_list .content {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
}
.our_team_list .content .content-overlay {
    background: rgba(38, 107, 178, 0.9);
    position: absolute;
    height: 72%;
    width: 80%;
    left: 14px;
    top: 35px;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.our_team_list .content:hover .content-overlay{
    opacity: 1;
}
.our_team_list .content-image{
    width: 100%;
}
.our_team_list .content-details {
    position: absolute;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    width: 70%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-65%, -80%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;    
}
.our_team_list .content:hover .content-details{
    top: 50%;
    left: 55%;
    opacity: 1;    
}
.our_team_list .content-details h3{
    color: #FFF;
    font-family:Poppins !important;
    font-weight: 500;
    letter-spacing: 0.01em;
    margin-top: 160px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 16px !important;
}
.our_team_list .content-details p{
    color: #fff;
    font-size: 12px;
    font-weight: 200;
}
.our_team_list .fadeIn-bottom{
    top: 80%;
}
.our_team_list .social_icon{
    margin-top: 20px;
    color: #FFF;
}

/*Our team social icon menu*/
.our_team_list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.our_team_list li {
    float: left;
    border: none !important;
    text-decoration: none;
}
.our_team_list li a:link, a:visited {
    color: #FFF !important;
    text-align: center;
    padding: 0px;
    text-decoration: none;
    border-radius: 50%;
    margin-right: 5px;
    -webkit-box-shadow: none;
    width: 30px;
    display: inline-block;
    border: 1px solid #FFF;
    background-color: #266BB2;
}
.our_team_list li a:hover {
    color: #000 !important;
    text-decoration: none;
    /*background: rgba(255, 255, 255, .80);*/
    background-color: #FFF;
}